body {
    color:rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

.parent-help {
    display: flex;
    border: 2.5px solid black;
    border-radius: 10px;
    
}



.child-help {
    display: flex;
    width: 50%;
    margin: 23px 10px;
    padding: 10px;
    border-radius: 10px;
    color: rgb(4, 4, 4);
}

.child-help1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 23px 10px;
    padding: 10px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
}

.contact-btn {
    padding: 10px 70px;

}

.title-hding {
    margin-left: 50%;
}


table {
    table-layout: fixed;
    width: 900px;
    border: 2px solid black;
}

table td {
    width: 75px;

}

table tr {
    border: 1px solid black;
}


.parent-help h1 {
    align-items: center;
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-size: 125px;
}

.q1s {
    padding: 20px;
    margin:50px;
}